@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@700&family=Lavishly+Yours&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Kumbh Sans", sans-serif;
}

.header {
  margin-top: -2px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 68px;
  padding: 0 24px;
}
@media (min-width: 1115px) {
  .header {
    height: 112px;
    border-bottom: 1px solid red;
    width: 95%;
    margin: auto;
    margin-top: 30px;
  }
}
.header .header-navegation {
  width: 190px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (min-width: 1115px) {
  .header .header-navegation {
    width: 590px;
  }
}
.header .header-navegation .icon-menu:hover {
  cursor: pointer;
}
@media (min-width: 1115px) {
  .header .header-navegation .icon-menu {
    display: none;
  }
}
.header__cart-avatar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70px;
}
@media (min-width: 1115px) {
  .header__cart-avatar {
    width: 125px;
  }
}
.header .__avatar {
  width: 24px;
  border-radius: 50%;
}
@media (min-width: 1115px) {
  .header .__avatar {
    width: 48px;
  }
}
.header .__avatar:hover {
  cursor: pointer;
  border: 2px solid red;
  border-radius: 50%;
}
.header__cart {
  position: relative;
}
.header__cart--notificacion {
  display: none;
  background-color: hsl(253deg, 93%, 59%);
  width: 15px;
  height: 12px;
  border-radius: 16px;
  position: absolute;
  top: -2px;
  right: -5px;
  font-size: 0.6em;
  text-align: center;
  color: hsl(0deg, 0%, 100%);
}
.header__cart:hover {
  cursor: pointer;
}

.navbar {
  display: none;
  width: 400px;
}
.navbar .navbar_items {
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.navbar .navbar_link {
  text-decoration: none;
  color: hsl(217deg, 91%, 58%);
  display: block;
  height: 112px;
  padding-top: 48px;
}
.navbar .navbar_link:hover {
  border-bottom: 4px solid white;
}
@media (min-width: 1115px) {
  .navbar {
    display: block;
  }
}

.header-navegation {
  margin-left: -20px;
}

.header__cart-avatar {
  margin-left: -200px;
}

.modal-navbar-background {
  display: none;
  margin-top: 120%;
  margin-left: -420px;
  border: solid blue 3px;
}
.modal-navbar-background .navbar-modal {
  background-color: black;
  width: 250px;
  height: 100%;
  padding: 28px 24px;
  display: block;
  border: red 3px solid;
}
.modal-navbar-background .navbar_items {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 200px;
  list-style: none;
}
.modal-navbar-background .navbar_link {
  text-decoration: none;
  color: hsl(218deg, 36%, 96%);
  font-weight: 700;
  font-size: 1.1em;
}
.modal-navbar-background .modal-navbar-background-close-icon {
  cursor: pointer;
}

.gallery .gallery__image-content {
  height: 300px;
  width: 100%;
  background-image: url("../images/image-product-1.jpg");
  background-size: cover;
}
@media (min-width: 1115px) {
  .gallery .gallery__image-content {
    background-position-y: 0px;
  }
}
.gallery .icon-previous {
  width: 40px;
  height: 40px;
  padding: 12px;
  border-radius: 50%;
  position: absolute;
  top: 170px;
  left: 15px;
}
@media (max-width: 1115px) {
  .gallery .icon-previous {
    background-color: hsl(0deg, 0%, 100%);
  }
}
.gallery .icon-previous:hover {
  cursor: pointer;
}
.gallery .icono-next {
  width: 40px;
  height: 40px;
  padding: 12px;
  border-radius: 50%;
  position: absolute;
  top: 170px;
  left: 320px;
}
@media (max-width: 1115px) {
  .gallery .icono-next {
    background-color: hsl(0deg, 0%, 100%);
  }
}
.gallery .icono-next:hover {
  cursor: pointer;
}
.gallery .gallery_thumnails {
  display: none;
}
@media (min-width: 1115px) {
  .gallery .gallery_thumnails {
    display: flex;
    justify-content: space-between;
  }
  .gallery .gallery_thumnails .gallery_thumnailss {
    width: 90px;
    border-radius: 16px;
  }
  .gallery .gallery_thumnails .gallery_thumnailss:hover {
    cursor: pointer;
    border: solid 2px hsl(253deg, 93%, 59%);
  }
}

@media (min-width: 1115px) {
  .gallery .icon-previous {
    position: absolute;
    width: 40px;
    height: 40px;
    padding: 12px;
    border-radius: 50%;
    position: absolute;
    top: 266px;
    left: 160px;
  }
}
@media (min-width: 1115px) and (max-width: 1115px) {
  .gallery .icon-previous {
    background-color: hsl(0deg, 0%, 100%);
  }
}
@media (min-width: 1115px) {
  .gallery .icon-previous:hover {
    cursor: pointer;
  }
}
@media (min-width: 1115px) and (min-width: 1115px) {
  .gallery .icon-previous {
    display: none;
  }
}
@media (min-width: 1115px) {
  .gallery .icono-next {
    width: 40px;
    height: 40px;
    padding: 12px;
    border-radius: 50%;
    position: absolute;
    top: 266px;
    left: 798px;
  }
}
@media (min-width: 1115px) and (max-width: 1115px) {
  .gallery .icono-next {
    background-color: hsl(0deg, 0%, 100%);
  }
}
@media (min-width: 1115px) {
  .gallery .icono-next:hover {
    cursor: pointer;
  }
}
@media (min-width: 1115px) and (min-width: 1115px) {
  .gallery .icono-next {
    display: none;
  }
}
@media (min-width: 1115px) {
  .gallery {
    width: 500px;
  }
  .gallery .gallery__image-content {
    border-radius: 16px;
    width: 446px;
    height: 446px;
    margin-bottom: 50px;
  }
}

.details {
  padding: 24px;
}
.details__company {
  color: red;
  text-transform: uppercase;
  font-size: 0.8em;
  letter-spacing: 1px;
  margin-bottom: 12px;
  display: flex;
  align-items: center;
}
.details__title {
  font-size: 1.7em;
  margin-bottom: 12px;
}
.details__description {
  font-size: 0.94em;
  line-height: 24px;
  margin-bottom: 24px;
}
.details__price {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}
.details__now {
  font-size: 1.8em;
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 18px;
}
.details__discount {
  font-size: 0.5em;
  background-color: hsl(0deg, 95%, 59%);
  padding: 4px;
  border: 4px;
}
.details__before {
  padding-top: 3px;
  text-decoration: line-through;
}
.details__button {
  background-color: orange;
  width: 100%;
  height: 57px;
  border-radius: 8%;
  border: none;
  color: white;
  font-size: 0.9em;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.details__button:hover {
  cursor: pointer;
  opacity: 0.5;
}
@media (min-width: 1115px) {
  .details {
    padding-top: 60px;
  }
  .details__title {
    font-size: 2.7em;
    margin-bottom: 48px;
  }
  .details__description {
    font-size: 0.9em;
    margin-bottom: 37px;
  }
  .details__price {
    flex-direction: column;
    align-items: flex-start;
  }
  .details__product--quantity {
    display: flex;
    gap: 32px;
  }
}

.input {
  height: 57px;
  display: flex;
  justify-content: space-between;
}
.input__minus {
  width: 24 px;
  height: 100%;
  padding: 23px 5px;
}
.input__minus:hover {
  cursor: pointer;
}
.input__plus {
  width: 24 px;
  height: 100%;
  padding: 19px 3px;
}
.input__plus:hover {
  cursor: pointer;
}
.input__number {
  width: 100%;
  border: none;
  background-color: black;
  color: white;
  font-size: 1.2em;
  font-weight: 700;
  font-family: "Kumbh Sans", sans-serif;
  text-align: center;
  outline: none;
}

.cart-modal {
  display: none;
  width: 360px;
  height: 260px;
  border-radius: 8px;
  position: absolute;
  background-color: white;
  color: black;
  top: 75px;
  right: 6px;
  box-shadow: 3px 3px 10px;
}
.cart-modal__title {
  font-weight: 700;
  padding: 24px;
}
.cart-modal__datails-container {
  display: flex;
  align-items: center;
  align-content: space-between;
  justify-content: space-between;
  margin-bottom: 24px;
  color: gray;
}
.cart-modal__datails-container .as {
  color: red;
}
.cart-modal .image-cart-modal {
  width: 50px;
}
.cart-modal__delete {
  margin-left: 25px;
}
.cart-modal__total {
  border: 0 4px solid;
  padding: 24px;
}
.cart-modal .cart-checkout {
  background-color: orange;
  width: 100%;
  height: 57px;
  border-radius: 8%;
  border: none;
  color: white;
  font-size: 0.9em;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.cart-modal .cart-checkout:hover {
  cursor: pointer;
  opacity: 0.5;
}

.modal-galerry__bacground {
  background-color: rgba(65, 43, 43, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  display: none;
  place-content: center;
}
.modal-galerry__gallery {
  width: 446px;
  height: 446px;
}
.modal-galerry__image-content {
  background-image: url("../images/image-product-1.jpg");
  width: 443px;
  height: 446px;
  background-size: cover;
  border-radius: 20px;
  margin-bottom: 32px;
  position: relative;
}
.modal-galerry__gallery_thumnails {
  display: flex;
  justify-content: space-between;
  width: 400px;
  margin: auto;
}
.modal-galerry__galleryi_thumnails {
  border-radius: 16px;
  width: 90px;
}
.modal-galerry__galleryi_thumnails:hover {
  cursor: pointer;
  border: solid 2px hsl(253deg, 93%, 59%);
}
.modal-galerry__iconprevious {
  width: 40px;
  height: 40px;
  padding: 12px;
  border-radius: 50%;
  position: absolute;
  top: 217px;
  left: 21px;
}
@media (max-width: 1115px) {
  .modal-galerry__iconprevious {
    background-color: hsl(0deg, 0%, 100%);
  }
}
.modal-galerry__iconprevious:hover {
  cursor: pointer;
}
.modal-galerry__icono-next {
  width: 40px;
  height: 40px;
  padding: 12px;
  border-radius: 50%;
  position: absolute;
  top: 217px;
  left: 400px;
}
@media (max-width: 1115px) {
  .modal-galerry__icono-next {
    background-color: hsl(0deg, 0%, 100%);
  }
}
.modal-galerry__icono-next:hover {
  cursor: pointer;
}
.modal-galerry__icono-close-conteiner {
  text-align: right;
  height: 30px;
}
.modal-galerry__icono-close {
  width: 16px;
}
.modal-galerry__icono-close:hover {
  cursor: pointer;
  content: url(../images/icon-close\ orange.svg);
}

.main-container {
  position: relative;
  width: 375px;
  margin: auto;
}
@media (min-width: 1115px) {
  .main-container {
    width: 1115px;
  }
}
@media (min-width: 1115px) {
  .main-container .content {
    display: flex;
    padding: 90px 50px;
    gap: 124px;
  }
}

a {
  outline: none;
  text-decoration: none;
}

a:hover {
  color: red;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.show {
  display: block;
}

.cart_empty {
  font-weight: 700;
  border: solid 3px red;
  text-align: center;
  margin-top: 30px;
}

/*# sourceMappingURL=main.css.map */
