@use 'variables' as v;
@use 'mixins.scss' as m;
.cart-modal{
    display: none;
    width: 360px;
    height: 260px;
    border-radius: 8px;
    position: absolute;
    
    background-color: white;
    color: black;
    top:75px;
    right: 6px;
    box-shadow: 3px 3px 10px;
    &__title{
        font-weight: 700;
        padding: 24px;
    }
    &__datails-container{
        display: flex;
        align-items: center;
        align-content: space-between;
        justify-content: space-between;
        margin-bottom: 24px;
        color: gray;
        .as{
            color: red;
        }
        
    }
    .image-cart-modal{
        width: 50px;
    }

    

    &__delete{
        margin-left: 25px;
    }
    &__total{
        border: green($color: #000000) 4px solid;
        padding: 24px;


    }
    .cart-checkout{
    @include m.button;
    }
}