@use 'variables' as v;
@use '_mixins.scss' as m;

.details{
    padding: 24px;

    &__company{
        color:red;
        text-transform: uppercase;
        font-size: 0.8em;
        letter-spacing: 1px;
        margin-bottom: 12px;
        display: flex;
        align-items: center;
    }
    &__title{
        font-size: 1.7em;
        margin-bottom: 12px;

    }
    &__description{
        font-size: 0.94em;
        line-height: 24px;
        margin-bottom: 24px;
        
    }

    &__price{
        //border: 3px red solid;
        display: flex;
        justify-content: space-between;
        margin-bottom: 24px;
    }
    &__now{
        font-size: 1.8em;
        //gruerso de la letra
        font-weight: 700;
        //border: 1px solid blue;
        display: flex;
        align-items: center;
        //"separacion el gap"
        gap:18px;
    }
    &__discount{
        font-size: 0.5em;
        background-color: v.$Pale_orange;
        padding: 4px;
        border: 4px;
    }
    &__before{
        //border: 3px green solid;
        padding-top: 3px;
        text-decoration: line-through;
        
         
        

    }
    &__button{
       @include m.button;

    }

    @media(min-width: 1115px){
        padding-top: 60px;
        &__title{
            font-size: 2.7em;
            margin-bottom: 48px;

        }
        &__description{
            font-size: 0.9em;
            margin-bottom:37px;
        }
        &__price{
            flex-direction: column;
            align-items: flex-start;
        }
        &__product--quantity{
            display: flex;
            gap: 32px;

        }
    }

}