@use 'variables';
@use 'mixins.scss';

.gallery{
   
    .gallery__image-content{
        height: 300px;
        width: 100%;
        background-image: url('../images/image-product-1.jpg');
        background-position-y:-35px;
        background-size: cover;

       
    } 


        
    
    .icon-previous{
        @include mixins.img-btn-pre(15px,170px);
        

       
    }
    .icono-next{
        @include mixins.img-btn-pre(320px,170px);
        

       
            
    }
    .gallery_thumnails{
        display: none;
        @media (min-width:1115px){
            display: block;

        }
    }

}
.gallery{
    @media (min-width:1115px){
        .icon-previous{
            position: absolute;

            @include mixins.img-btn-pre(160px,266px);
        
            
    
        
        }
        .icono-next{
            @include mixins.img-btn-pre(798px,266px);
            
    
        
                
        }

      
}
}