@use 'variables' as v;
@use 'mixins.scss';

.gallery{
   
    .gallery__image-content{
        @media (min-width:1115px){
            background-position-y:0px;

        }
        height: 300px;
        width: 100%;
        background-image: url('../images/image-product-1.jpg');
        background-size: cover;

       
    } 


        
    
    .icon-previous{
        @include mixins.img-btn-pre(15px,170px);
        

       
    }
    .icono-next{
        @include mixins.img-btn-pre(320px,170px);
        

       
            
    }
    .gallery_thumnails{
        display: none;
        @media (min-width:1115px){
            display: flex;
            justify-content: space-between;

            .gallery_thumnailss{
                width: 90px;
                border-radius: 16px;
                &:hover{
                    cursor: pointer;
                    border: solid 2px v.$orange;
                }
            }

        }
    }

}
.gallery{
    @media (min-width:1115px){
        .icon-previous{
            position: absolute;

            @include mixins.img-btn-pre(160px,266px);
            @media(min-width: 1115px){
                display: none;
            }
        
            
    
        
        }
        .icono-next{
            @include mixins.img-btn-pre(798px,266px);
            
            @media(min-width: 1115px){
                display: none;
            }
        
                
        }

      
}
@media(min-width: 1115px){
    width: 500px; 
     .gallery__image-content{
        border-radius: 16px;
        width: 446px;
        height: 446px;
        margin-bottom: 50px;
     }
      
}
}