@use 'variables';

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 68px;
    padding: 0 24px;
    @media (min-width:1115px){
        height: 112px;
        border-bottom: 1px solid variables.$Dark_grayish_blue; 
    }
    .header-navegation{
        width: 190px;
        height: 100%;
        border: solid 3px red;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media (min-width:1115px){
        width: 590px;
        
        }

    }
    .header-navegation .icon-menu{
        
         &:hover{
            cursor: pointer;
         }   
           
    
        @media (min-width:1115px){
            display: none;
         
            }
    }

    &__cart-avatar{
        border:solid 3px green;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 70px;
        @media (min-width:1115px){
            width: 125px;           
            }


    }
    .__avatar{

        width: 24px;
        border-radius: 50%;

        @media (min-width:1115px){
            width: 48px;           
            }

        &:hover{
            cursor: pointer;
            border: 2px solid red;
            border-radius: 50%;
        }    

    }

    &__cart{
        position: relative;
        &--notificacion{
            display: none;
            background-color: variables.$orange;
            width: 15px;
            height: 12px;
            border-radius: 16px;
            position: absolute;
            top:-2px;
            right: -5px;
            font-size: 0.6em;
            text-align: center;
            color: variables.$White;

        }
        &:hover{
            cursor: pointer;
        }
    }
    
}