@use 'variables' as v;
@use '_mixins' as m;
.input{
    height: 57px;
    display: flex;
    justify-content: space-between;
    //align-items: center;
    &__minus{
        @include m.changenumber(23px,5px);
        

    }
    
    &__plus{
        @include m.changenumber(19px,3px);
        

    }
    &__number{
        width: 100%;
        border: none;

        background-color: black;
        color: white;
        font-size: 1.2em;
        font-weight: 700;
        font-family: v.$font;
        text-align: center;
        outline: none;
    }



}
