@use 'variables';

.navbar{
    display: none;
    
    width: 400px;
    .navbar_items{
        list-style: none;
        display: flex;
        justify-content: space-between;

        
    }

    
    .navbar_link{
        text-decoration: none;
        color: variables.$Dark_grayish_blue;
        display: block;
        height: 112px;
        padding-top: 48px;



    }
    .navbar_link:hover{
        border-bottom: 4px solid white;

    }
    @media(min-width: 1115px){
        display: block;
       
    }
}
