@use 'initial';
@use 'variables';
@use 'header';  
@use 'navbar';
@use 'modal-navbar'; 


.main-container{
    position: relative;
    width: 375px;
    border: 2px solid white;
    margin: auto;

    @media(min-width: 1115px){
        width: 1115px;
    }
}