@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@700&family=Lavishly+Yours&display=swap');

$orange: hsl(253, 93%, 59%);
$Pale_orange: hsl(0, 95%, 59%);


$Very_vark_blue: hsl(218, 36%, 96%);
$Dark_grayish_blue: hsl(217, 91%, 58%);
$Grayish_blue: hsl(220, 14%, 75%);
$Light_grayish_blue: hsl(223, 64%, 98%);
$White: hsl(0, 0%, 100%);
$Black: hsl(0, 0%, 0%);
$Black_: rgba(255, 254, 254, 0.5);
$font:'Kumbh Sans', sans-serif;
