@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@700&family=Lavishly+Yours&display=swap');

$range: hsl(26, 100%, 55%);
$Pale_orange: hsl(25, 100%, 94%);


$Very_vark_blue: hsl(220, 13%, 13%);
$Dark_grayish_blue: hsl(219, 9%, 45%);
$Grayish_blue: hsl(220, 14%, 75%);
$Light_grayish_blue: hsl(223, 64%, 98%);
$White: hsl(0, 0%, 100%);
$Black: hsl(0, 0%, 0%);
$Black_: hsl(0, 0%, 0%,0.5);
$font:'Kumbh Sans', sans-serif;
